--
-- PostgreSQL database dump
--

\restrict MotpjtYpUsOuFhkba2mdF3SL886uruFMn3LoTcpavwu57HlJkoVk7WkKXhfxaNq

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department (
    budget double precision,
    id bigint NOT NULL,
    location character varying(255),
    name character varying(255)
);


ALTER TABLE public.department OWNER TO postgres;

--
-- Name: department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee (
    salary double precision,
    department_id bigint NOT NULL,
    hire_date timestamp(6) without time zone,
    id bigint NOT NULL,
    email character varying(255),
    name character varying(255),
    phone character varying(255)
);


ALTER TABLE public.employee OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employee_project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee_project (
    employee_id bigint NOT NULL,
    project_id bigint NOT NULL,
    role character varying(255),
    CONSTRAINT employee_project_role_check CHECK (((role)::text = ANY ((ARRAY['DEVELOPER'::character varying, 'MANAGER'::character varying, 'ANALYST'::character varying])::text[])))
);


ALTER TABLE public.employee_project OWNER TO postgres;

--
-- Name: project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project (
    department_id bigint NOT NULL,
    end_date timestamp(6) without time zone,
    id bigint NOT NULL,
    start_date timestamp(6) without time zone,
    description character varying(1000),
    name character varying(255)
);


ALTER TABLE public.project OWNER TO postgres;

--
-- Name: project_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department (budget, id, location, name) FROM stdin;
900000.5	3	Giza	Finance
650000	5	New Cairo	Marketing
470000	2	Alexandria	Human Resources
2750000	4	Smart Village	Research and Development
1600000	1	Cairo	Information Technology 
113012.36	7	Tanta	Cyber Security
\.


--
-- Data for Name: employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employee (salary, department_id, hire_date, id, email, name, phone) FROM stdin;
14500	2	2025-05-10 10:30:00	2	jane.smith@example.com	Jane Smith	01198765432
18000	3	2024-01-15 08:15:00	3	michael.johnson@example.com	Michael Johnson	01255555555
16622	1	2026-07-16 09:00:00	4	john@example.com	John Doe	01012345678
15000	3	2026-07-16 09:00:00	1	john.updated@example.com	John Doe Updated	01099998888
22222	3	2026-07-16 00:00:00	6	test@example.com	Test	010000000
\.


--
-- Data for Name: employee_project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employee_project (employee_id, project_id, role) FROM stdin;
3	3	MANAGER
2	2	DEVELOPER
\.


--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project (department_id, end_date, id, start_date, description, name) FROM stdin;
3	2027-01-31 17:00:00	3	2026-09-01 09:00:00	Build a self-service customer portal	Customer Portal
1	2026-10-31 18:00:00	4	2026-07-16 09:00:00	Developing a REST API using Spring Boot	Employee Management System
2	2026-12-15 00:00:00	2	2026-08-01 00:00:00	HR System for calculations and reporting	HR System
7	2026-02-26 00:00:00	5	2025-05-07 00:00:00	test	Test
\.


--
-- Name: department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_id_seq', 7, true);


--
-- Name: employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employee_id_seq', 6, true);


--
-- Name: project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_id_seq', 5, true);


--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id);


--
-- Name: employee employee_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_email_key UNIQUE (email);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (id);


--
-- Name: employee_project employee_project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee_project
    ADD CONSTRAINT employee_project_pkey PRIMARY KEY (employee_id, project_id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (id);


--
-- Name: employee_project fk4yddvnm7283a40plkcti66wv9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee_project
    ADD CONSTRAINT fk4yddvnm7283a40plkcti66wv9 FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: employee_project fkb25s5hgggo6k4au4sye7teb3a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee_project
    ADD CONSTRAINT fkb25s5hgggo6k4au4sye7teb3a FOREIGN KEY (employee_id) REFERENCES public.employee(id);


--
-- Name: employee fkbejtwvg9bxus2mffsm3swj3u9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT fkbejtwvg9bxus2mffsm3swj3u9 FOREIGN KEY (department_id) REFERENCES public.department(id);


--
-- Name: project fkl7ga8i4ry2amd4mb525tdmjf6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT fkl7ga8i4ry2amd4mb525tdmjf6 FOREIGN KEY (department_id) REFERENCES public.department(id);


--
-- PostgreSQL database dump complete
--

\unrestrict MotpjtYpUsOuFhkba2mdF3SL886uruFMn3LoTcpavwu57HlJkoVk7WkKXhfxaNq

