<div class="container mt-5">
  <div class="text-center mb-5">
    <h1>Employee Management System</h1>
    <p class="text-muted">Select one to manage</p>
  </div>

  <div class="row g-4">
    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4>Departments</h4>
          <p>Manage departments</p>

          <a routerLink="/departments" class="btn btn-primary w-100"> Open </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4>Employees</h4>
          <p>Manage employees</p>

          <a routerLink="/employees" class="btn btn-success w-100"> Open </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4>Projects</h4>
          <p>Manage projects</p>

          <a routerLink="/projects" class="btn btn-warning w-100"> Open </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <h4>Employees Projects</h4>
          <p>Manage employees projects</p>

          <a routerLink="/employee-projects" class="btn btn-danger w-100"> Open </a>
        </div>
      </div>
    </div>
  </div>
</div>
